<link rel="stylesheet" href="/css/plans.css">
<div class="plan-container">
  <h2>Editar Plano</h2>

  <div id="js-error" class="alert error" style="display:none;"></div>

  {{#if error}}
    <div class="alert error">{{error}}</div>
  {{/if}}

  <form action="/plans/update/{{plan._id}}" method="POST" id="create-form">
    <input type="text" name="title" placeholder="Título do plano" required value="{{plan.title}}">
    <textarea name="description" placeholder="Descrição do plano" required>{{plan.description}}</textarea>
    <input type="date" name="date" required value="{{plan.date}}">
    <button type="submit">Atualizar Plano</button>
  </form>
  
  <a href="/dashboard">Voltar</a>
</div>

<script src="/js/create.js"></script>
