<link rel="stylesheet" href="/css/dashboard.css">

<div class="dashboard-container">
  <h1>Bem-vindo, {{this.name}}!</h1>

  <a href="/plans/create" class="create-btn">Criar Novo Plano</a>
  <a href="/logout" class="create-btn exit">Sair</a>

  {{#if plans.length}}
    <div class="plans-list">
      {{#each plans}}
        <div class="plan-card">
          <h3>{{this.title}}</h3>
          <p>{{this.description}}</p>
          <small>Criado em: {{this.createdAt}}</small>
          {{!-- <p>Plano para: {{this.date}}</p> --}}

          <div class="plan-actions">
            <a href="/plans/edit/{{this._id}}" class="edit-btn">Editar</a>

            <form action="/plans/delete/{{this._id}}" method="POST" style="display:inline;">
              <button type="submit" class="delete-btn">Excluir</button>
            </form>
          </div>

        </div>
      {{/each}}
    </div>
  {{else}}
    <p>Você ainda não criou nenhum plano.</p>
  {{/if}}
</div>
